/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}
/* Universal tags */
* {
  box-sizing: border-box;
  text-align: center;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0px;
}
/* Navbar */
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  /* background-color: rgb(82, 167, 206); */
  background-color: transparent;
  padding: 8px;
  transition: all 250ms ease-in-out;
  width: 100%;
}

#navbar.navbar--dark {
  background-color: rgba(28, 190, 210, 255);
  padding: 8px;
  opacity: 0.98;
  z-index: 100;
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 10px;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo a {
  color: var(--color-white);
}
.navbar__menu__item.active {
  border-radius: var(--size-border-radius);
}
.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-blue);
  border-radius: var(--size-border-radius);
}
#home {
  padding: 40px;
  padding-top: 120px;
  background: url("imgs/home-background.png");
}
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid;
  color: var(--color-white);
}
.home__contact {
  font-size: var(--font-regular);
  color: var(--color-white);
  margin: 24px;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: var(--weight-bold);
}
.home__title,
.home__description {
  color: var(--color-white);
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Section common */
.section {
  padding: 30px;
  text-align: center;
  margin: auto;
  max-width: 1800px;
}
.section__container {
  margin: auto;
}
/* About */
.about__majors {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-blue);
}
.major__icon i {
  transition: all 200ms ease;
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-small);
}
.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}
.fab {
  color: black;
}
.job {
  display: flex;
  align-items: center;
}
.job__description {
  margin: 0 16px;
  text-align: left;
}
.job_period {
  color: lightgray;
}
#skills {
  background-color: var(--color-yellow);
  margin-bottom: 20px;
}
.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
}
.skillset__title {
  color: white;
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skillset__right {
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
}
.skill__description {
  display: flex;
  text-align: left;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
}
.skill__value {
  width: 70%;
  height: 3px;
  background-color: var(--color-orange);
}
.skill {
  margin-bottom: 30px;
}
.tools,
.etc {
  padding: 20px;
}
/* Work */
.category__btn {
  border: 1px solid var(--color-dark-grey);
  border-radius: 4px;
  padding: 8px 15px;
  font-size: var(--font-regular);
}

.category__btn.selected,
.category__btn:hover {
  background-color: cornflowerblue;
}
.work__categories {
  margin: 40px;
}
.category__count {
  border: 1px solid var(--color-orange);
  border-radius: 50%;
  color: var(--color-light-white);
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-color: var(--color-orange);
  top: -20px;
  left: 4px;
  opacity: 0;
  position: relative;
  transition: all 200ms ease;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  top: 0;
  opacity: 1;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all;
  transition: all 300ms ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-grey);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  opacity: 0;
  transition: all 200ms ease;
  transform: translateY(10px);
  color: var(--color-white);
}
.project:hover .project__description {
  opacity: 0.6;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  width: 150px;
  height: 2px;
  display: block;
  background-color: var(--color-dark-white);
  position: relative;
  left: 25%;
  margin-left: -8px;
  margin-top: 8px;
}
.testimonials {
  margin: 40px;
}
/*Contact  */
#contact {
  background-color: rgba(28, 190, 210, 255);
  margin: 60px 0 0 0;
}
.contact__title,
.contact__email {
  margin: 20px 0;
  color: var(--color-light-white);
}

.contact__links {
  font-size: var(--font-large);
  transition: all 200ms ease;
}

.contact__links i:hover {
  transform: scale(1 1);
  color: var(--color-yellow);
}
.navbar__toggle-btn {
  position: absolute;
  top: 13px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .about__majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 38px;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .work__projects {
    flex-direction: column;
    align-items: center;
  }
}
/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 50%;
  opacity: 0;
  transition: all 300ms ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
